.activeSpan{
    color: #00408b;
}

.documents h2{
    color: #333
}

.list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.documentItem{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 4px #999;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    position: relative;
}
.display{
    height: 100px;
    box-shadow: 1px 1px 4px #999;
    position: relative;
}
.download{
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    padding: 5px 0;
    transition: all ease .2s;
}
.type{
    font-size: 10px;
    position: absolute;
    right: 0;
    bottom: 0
}
.display:hover .download{
    display: flex;
}
.download:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.imageDisplay{    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;;
}
.imageDisplay img{
    width: 20px;
}
.title{
    padding: 10px 0;
    color: #333;
    font-weight: bold;
    font-size: 13px;
}
.description{
    font-size: 10px;
    color: #555;
}
.infoBox {
    position: absolute;
    top: 0; 
    left: 0;
    display: none; 
    font-size: 10px;
    padding: 10px;
    max-width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
}
.infoBox div{
    text-wrap: nowrap;
}

.actions{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border-radius: 5px;

}
.actionsImage{
    width: 9px;
    padding: 2px 5px;
    cursor: pointer;
}
.actionsImage img{
    width: 100%;
}
#edit{
    border-top-left-radius: 5px;
}
#delete{
    border-bottom-right-radius: 5px;
}
#edit:hover{
    background-color: #ccc;
}
#delete:hover{
    background-color: #f99;
}

.documentItem:hover .infoBox {
    display: block; 
}
.documentItem:hover .actions{
    display: flex;
}
.createButton{
    width: 15px;
    cursor: pointer;
    margin-left: 10px;
}
.createButton img{
    width: 100%;
}

.uploadImage{
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 5px solid #000;
    border-radius: 100%;
    cursor: pointer;
    transition: all ease .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.uploadImage:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.uploadImage img{
    width: 70%;
}
.upload span{

}
.modalSelection{
    width: 100%;
    height: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    gap: 20px
}
.fileSelect{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.buttonConfirm{
    background-color: #00408b;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;
}
.selectedFile{
    width: 50px;
}
.fileArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    flex: 1;
}
.selectType{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #555;
    border-radius: 5px;
    overflow: hidden;
}
.selectType div{
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
}
.selectType div:hover{
    background-color: #ccc;
}
